nav ul{
     list-style-type:none;
     margin: 0;
     padding: 0;
     background: #444;
}
nav ul li{
     display: inline-block;
     front-size: 1.1em;
     padding: 12px;
}
nav a{
     text-decoration: none;
     color: #fff;
     padding: 12px;
}
nav a:hover{
     background: #188C9C;
     color: #fff;
}
