#nav{
  width:1000px;
  margin:0 auto;
}
#nav ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
}
#nav ul li{
  display: inline-block;
  font-size: 1.1em;
  padding: 12px;
  background: yellow;
  position:relative;
}
#nav ul li a{
  text-decoration: none;
  color: white;
  padding: 12px;
}
#nav ul li:hover{
     background: black;
}
#nav ul li ul{
  display:none;
  position:absolute;
}
#nav ul li:hover >ul{
     display: block;
}